.tab-container {
  padding: 10px 20px;
}

/* .custom-drawer {
  height: 65vh;
} */

.historic-detail {
  min-height: 65vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.historic-detail div.detail {
  height: 100%;
  width: 100%;
}

.historic-row:hover {
  background: #ECECEC;
  cursor: pointer;
}

table {
  box-shadow: none !important;
  width: 100%;
}

ul {
  width: 100%;
  list-style: none;
  padding-inline-start: 0px;
  color: #6d7278;
}

ul li {
  background-color: gainsboro;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

.side-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-table div:first-child {
  display: flex;
  overflow-y: auto;
  margin-bottom: 70px;
}

.side-table div:last-child {
  display: flex;
  min-height: 70px;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
  color: #6d7278;
}

.hidden-custom {
  background-color: teal;
  visibility: hidden !important;
}

.mat-sort-header-container {
  justify-content: center;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c757d;
}
.message-container mat-icon {
  margin-right: 5px;
}

.loading-detail {
  align-self: center;
}

.detail-item {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
