<main class="main-container">
    <div class="login-container">
        <ng-container *ngIf="!mailSended; else mail_sended">
            <header class="row d-flex flex-column justify-content-center">
                <h1>Restablecer contraseña</h1>
            </header>

            <div class="row justify-content-center form-container">
                <div class="description col-10">
                    <p>Para restablecer su contraseña le enviaremos un correo con un enlace de confirmación.</p>
                </div>

                <div class="col-10">
                    <form class="d-flex"
                          [formGroup]="forgotPasswrodForm"
                          autocomplete="off"
                          novalidate>
                        <div class="input-container col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Correo electrónico</mat-label>
                                <input type="text" matInput formControlName="mail" placeholder="Ingrese su correo electrónico">
                                <mat-error class="error-message" *ngIf="getControl('mail').errors?.required">
                                    El <strong>Correo electrónico</strong> es requerido
                                </mat-error>
                                <mat-error class="error-message" *ngIf="getControl('mail').errors?.email">
                                    El formato del <strong>Email</strong> es incorrecto
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button
                                    type="submit"
                                    color="primary"
                                    class="col-12"
                                    (click)="send()"
                                    [disabled]="!forgotPasswrodForm.valid">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-10">
                    <P>Si no eres usuario <a routerLink="../../register" class="link">Registrate aquí</a></P>
                </div>
            </div>
        </ng-container>

        <ng-template #mail_sended>
            <app-send-mail-result [result]="mailResult"></app-send-mail-result>
        </ng-template>
    </div>
</main>
