<main class="main-container">
    <div class="login-container">
        <ng-container *ngIf="!mailSended; else mail_sended">
            <header class="row d-flex flex-column justify-content-center">
                <div class="icon">
                    <span class="material-icons-outlined">security</span>
                </div>
                <h1>Olvidé mi contraseña</h1>
            </header>

            <div class="row justify-content-center form-container">
                <div class="description col-10">
                    <p class="description">Para restablecer su contraseña le enviaremos un correo con un enlace de confirmación.</p>
                </div>

                <div class="col-10 mb-3 mt-3">
                    <form class="d-flex"
                          [formGroup]="forgotPasswordForm"
                          autocomplete="off"
                          novalidate>
                        <div class="input-container col-12 form-sub-container">
                            <mat-form-field appearance="outline">
                                <mat-label>BadgeId</mat-label>
                                <input type="text" matInput formControlName="badgeId" placeholder="Ingrese su badgeId">

                                <mat-error class="error-message" *ngIf="getControl('badgeId').errors?.required">
                                    El <strong>BadgeId</strong> es requerido
                                </mat-error>
                                <mat-error class="error-message" *ngIf="getControl('badgeId').errors?.pattern">
                                    El <strong>BadgeId</strong> solo puede contener carácteres numéricos
                                </mat-error>
                                <mat-error class="error-message" *ngIf="getControl('badgeId').errors?.minlength">
                                    El <strong>BadgeId</strong> debe contener almenos 8 dígitos
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button
                                    type="submit"
                                    color="primary"
                                    class="col-12"
                                    (click)="send()"
                                    [disabled]="!forgotPasswordForm.valid">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-10">
                    <P>Si no eres usuario <a routerLink="../../register" class="link">registrate aquí</a></P>
                </div>
            </div>
        </ng-container>

        <ng-template #mail_sended>
            <ng-container *ngIf="isLoading; else loading">
                <app-loading [isLoading]="true" [message]="'La solicitud está siendo procesada, por favor espere...'"></app-loading>
            </ng-container>

            <ng-template #loading>
                <app-action-result [result]="actionResult"></app-action-result>
            </ng-template>

        </ng-template>
    </div>
</main>
