<div class="sidebar-content animated fadeInUp">
    <app-sidebar-header [filter]="filterApply"
                        (serialSearch)="searchBySerial($event)"
                        (restartEvent)="restartFilters()">
    </app-sidebar-header>

    <div class="sidebar-menu" *ngIf="!isSidebarHide">
        <ng-container *ngIf="detailService.getLoading() | async; else sidebar">
            <div class="loading">
                <app-loading [isLoading]="true" [message]="'Cargando...'"></app-loading>
            </div>
        </ng-container>

        <ng-template #sidebar>
            <div class="container-item-filter animated fadeInUp">
                <app-sidebar-detail-item [filter]="type" (sendFilter)="searchByFilter($event)"></app-sidebar-detail-item>
                <app-sidebar-detail-item [filter]="model" (sendFilter)="searchByFilter($event)" *ngIf="hasTypeFilter"></app-sidebar-detail-item>
                <app-sidebar-detail-item [filter]="brand" (sendFilter)="searchByFilter($event)" *ngIf="hasTypeFilter"></app-sidebar-detail-item>
                <app-sidebar-detail-item [filter]="district" (sendFilter)="searchByFilter($event)"></app-sidebar-detail-item>
                <app-sidebar-detail-item [filter]="location" (sendFilter)="searchByFilter($event)"></app-sidebar-detail-item>
                <app-sidebar-detail-item [filter]="state" (sendFilter)="searchByFilter($event)"></app-sidebar-detail-item>
            </div>
        </ng-template>
    </div>
</div>
