.container {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  min-height: 414px;
}


/* COMMON */

.no-shadow {
  box-shadow: none;
}

.no-margin {
  margin: 0 !important;
}






.sidebar {
  z-index: 100;
}

.sidebar mat-card {
  color: #212529;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  justify-content: center;
  margin: 20px 0px;
  background-color: var(--background-primary);
}

.sidebar mat-card:hover {
  cursor: pointer;
}

.sidebar mat-card .country {
  flex: 1;
  color: var(--text-primary);
}

.indicator-custom::after {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  color: #757575;
}

.sidebar-menu div.district,
.sidebar-menu div.detail mat-accordion mat-expansion-panel {
  border-radius: 4px;
}

.sidebar-menu div.district {
  margin-bottom: 20px;
}

.sidebar-menu div.detail mat-accordion mat-expansion-panel {
  border-radius: 4px 4px 0px 0px !important;
}

.sidebar-menu div.detail mat-accordion:last-child mat-expansion-panel {
  border-radius: 0px 0px 4px 4px !important;
}

/* .sidebar-menu div.detail mat-accordion mat-expansion-panel mat-expansion-panel-header,
.sidebar-menu div.district mat-accordion mat-expansion-panel mat-expansion-panel-header {
  border-bottom: 1px solid #edeff2;
} */

.sidebar .title h3 {
  margin-bottom: 0px;
}

.sidebar mat-expansion-panel ul {
  list-style: none;
  margin-bottom: 0px;
  padding: 5px 0px;
  margin-left: 4px;
}

.sidebar mat-expansion-panel ul li {
  padding: 5px 30px;
}

.sidebar mat-expansion-panel ul li a,
.submenu-container ul li {
  color: var(--text-secondary);
  display: flex;
}

.sidebar mat-expansion-panel ul li a:hover {
  text-decoration: none;
}

.sidebar mat-expansion-panel ul li:hover {
  background-color: var(--hover-primary);
  cursor: pointer;
}

div.detail mat-accordion mat-expansion-panel .submenu-container ul li {
  display: flex;
  justify-content: space-between;
}

.menu-detail,
.submenu-container {
  box-shadow: inset 4px 0 0 0 #cd3840;
  width: 100%;
}

.submenu .submenu-title {
  padding: 10px 20px;
}

.submenu .submenu-title h4 {
  margin: 0px;
}

.sidebar-title {
  width: 100%;
  padding: 16px;
}

.sidebar-title h3 {
  margin-bottom: 0px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  /* color: #6d7678;   */
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field .mat-form-field {
  margin-left: 8px;
}

.detail h3 {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 0px;
}

.district {

}

.district mat-accordion mat-expansion-panel mat-expansion-panel-header {
  background: url(/assets/icons/home-grey.svg) 5% 50% no-repeat !important;
  padding-left: 36px;
}

.submenu-location mat-expansion-panel mat-expansion-panel-header {
  background: url(/assets/icons/location-grey.svg) 5% 50% no-repeat !important;
  padding-left: 36px;
}

.submenu-state mat-expansion-panel mat-expansion-panel-header {
  background: url(/assets/icons/state-grey.svg) 5% 50% no-repeat !important;
  padding-left: 36px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}








.country-btn {
  width: 100%;
  height: 41px;
  color: var(--main-theme);
  border: 1px solid var(--main-theme);
  border-radius: 0.25rem;
  background-color: transparent;
  margin-bottom: 20px;
}

.country-btn:hover {
  background-color: var(--main-theme);
  color: #fff;
}
