<div>
    <div class="sidebar">

      <button class="country-btn">
        Equipos Argentina
      </button>
        <!-- <mat-card (click)="getByCountry()">
            <span class="country">Equipos {{country?.name}}</span>
            <span class="indicator-custom"></span>
        </mat-card> -->

        <div class="sidebar-menu">
            <div class="district">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="xpandStatus">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Distrito
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="menu-detail">
                            <ul>
                                <li *ngFor="let dist of districts">
                                    <a href="javascript:void(0)" (click)="getByDistrict(dist)">
                                        {{dist.districtName}}
                                    </a>
                                </li>
                                <li *ngIf="!districts">
                                    Sin registros
                                </li>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
