<main class="main-container">
    <div class="login-container col-4">
        <header class="row col-10 d-flex flex-column justify-content-center">
            <div class="user-icon">
              <mat-icon class="">account_circle</mat-icon>
            </div>
            <h2>Login</h2>
        </header>
        <div class="row col-10">
            <form class="d-flex serial-form"
                  [formGroup]="loginForm"
                  autocomplete="off"
                  novalidate>
                <div class="input-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput formControlName="user" placeholder="Ingrese su usuario">
                        <mat-error class="error-message" *ngIf="getControl('user').errors?.required">
                            El <strong>Usuario</strong> es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="text" matInput formControlName="password" placeholder="Ingrese su contraseña">
                        <mat-error class="error-message" *ngIf="getControl('password').errors?.required">
                            La <strong>Contraseña</strong> es requerida
                        </mat-error>
                    </mat-form-field>

                    <div class="option-container">
                        <mat-checkbox formControlName="rememberMe" color="primary">
                            Recordar contraseña
                        </mat-checkbox>
                        <a href="" class="link">Olvidó su contraseña?</a>
                    </div>

                    <button mat-raised-button color="primary" class="col-12">
                        Iniciar sesión
                    </button>
                </div>
            </form>

            <div>
                <P>Si no eres usuario <a href="" class="link">Registrate aquí</a></P>
            </div>
        </div>
    </div>
</main>
