mat-toolbar {
  height: 50px !important;
  max-height: 50px !important;
}

.toolbar-container {
  width: 100%;
  justify-content: space-between;
}

.nav-container {
  padding: 5px 50px;
}

.nav-item-custom {
  display: flex;
  align-items: center;
}

.badge-notification {
  position: absolute;
  left: 20px;
}

.notification-container {
  position: relative;
  padding: 0px 10px;
}

mat-toolbar {
  background-color: #fff !important;
  color: #282424 !important;
  box-shadow: 0 1px 2px -1px #0003, 0 1px 4px #00000024, 0 2px 8px #0000001f;
  position: relative;
  z-index: 1000;
}

.nav-options-container,
.options-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-btn {
  color: #282424;
}

.mat-menu-option {
  color: #282424;
}

.badge-custom {
  margin-left: 3px;
}

.menu-item {
  height: 100%;
}

/*Menu*/
.menu-item div .menu-btn {
  height: 100%;
  color: #081642;
  -webkit-transition: 0.5s background-color !important;
  -o-transition: 3s background-color !important;
  transition: 3s background-color !important;
}

.menu-item div .menu-btn::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  -webkit-transition-property: 'left, right';
  -o-transition-property: 'left, right';
  transition-property: 'left, right';
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.menu-item div .menu-btn:hover {
  color: #081642 !important;
  background-color: #f9f9f9 !important;
}

.menu-item div .menu-btn:hover::before {
  content: '';
  left: 0;
    right: 0;
    position: absolute;
    /* left: 50%;
    right: 50%; */
    top: 0;
    background: #081642;
    height: 3px;
    -webkit-transition-property: 'left, right';
    -o-transition-property: 'left, right';
    transition-property: 'left, right';
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
