.mat-expansion-panel {
    border-radius: 0px !important;
}

.menu-detail ul {
    list-style: none;
    padding-inline-start: 0px;
}

/* .menu-detail ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
} */

.filter-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 3px 20px;
}

.filter-label span {
  color: #7a7a7a;
}

.filter-label+span,
.filter-label:disabled {
    color: #8c8c8c;
}

/* .item {
  padding: 3px 20px;
} */

.item:hover,
.item:hover button {
  background-color: #e44d4a;
  color: #fff;
}

.filter-label:hover span {
  color: #fff;
}
