.container {
  padding: 20px;
}

h3 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  color: #a9a6a6;
}

.section {
  padding: 20px;
}

.serial-form {
  /* flex-direction: column; */
}

form div mat-form-field {
  /* margin-right: 20px;
  margin-top: 20px;
  width: 23%; */
}

.btn-container {
  margin-top: 20px;
}

.error-message {
  margin-top: 12px;
  font-size: 12px;
}
