<main>
    <div class="content-container">
        <div class="content-item align-items-center">
          <h2>404</h2>
        </div>

        <div class="content-item">
            <span class="mb-4">Lo sentimos, la página que buscas no esta disponible</span>
            <button mat-raised-button
                    type="submit"
                    color="primary"
                    class="col-12"
                    (click)="action()">
                Volver a la página de inicio
            </button>
        </div>
    </div>
</main>
