.result-container {
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
 span {
   text-align: center;
 }

 .message-container {
   display: flex;
   flex-direction: column;
   margin: 30px;
 }

 .message-container span:first {
   font-size: 20px;
 }

 mat-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
 }

 .success {
   color: #009924;
 }

 .failed {
   color: #DB202F;
 }

 .action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }
