.result-container {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
 span, header {
   text-align: center;
 }

 .message-container {
   display: flex;
   flex-direction: column;
   margin: 10px;
 }

 .message-container span {
   font-size: 20px;
   color: #5f6368;
 }

 header span {
  font-size: 100px;
  height: 100px;
  width: 100px;
 }

 .success {
   color: #009924;
 }

 .failed {
   color: #DB202F;
 }

 .warning {
   color: #ffc937;
 }

 .action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }
