<div class="col-10 mx-auto subtitle">
    <h3>Equipos</h3>
    <hr>
</div>

<div class="row col-10 mx-auto container-body">
    <a href="javascript:void(0)" routerLink="../equipment/summary" class="col-sm-4 card-container">
        <div class="card">
            <div class="card-body body-custom">
                <img src="../../../../../assets/icons/file-summary.png" width="50" alt="">
                <div class="d-flex">
                    <p class="card-text">Informe de Estado de Equipos2</p>
                    <svg _ngcontent-rbc-c16="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons">
                        <path _ngcontent-rbc-c16="" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" routerLink="../equipment/detail" class="col-sm-4 card-container">
        <div class="card">
            <div class="card-body body-custom">
                <img src="../../../../../assets/icons/file-search.png" width="50" alt="">
                <div class="d-flex">
                    <p class="card-text">Detalle de Equipos</p>
                    <svg _ngcontent-rbc-c16="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons">
                        <path _ngcontent-rbc-c16="" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" class="col-sm-4 card-container">
        <div class="card">
            <div class="card-body body-custom">
                <img src="../../../../../assets/icons/laptop-create.png" width="50" alt="">
                <div class="d-flex">
                    <p class="card-text">Crear Equipo</p>
                    <svg _ngcontent-rbc-c16="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons">
                        <path _ngcontent-rbc-c16="" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" class="col-sm-4 card-container">
        <div class="card">
            <div class="card-body body-custom">
                <img src="../../../../../assets/icons/laptop-baja.png" width="50" alt="">
                <div class="d-flex">
                    <p class="card-text">Lista de Bajas</p>
                    <svg _ngcontent-rbc-c16="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons">
                        <path _ngcontent-rbc-c16="" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="javascript:void(0)" class="col-sm-4 card-container">
        <div class="card">
            <div class="card-body body-custom">
                <img src="../../../../../assets/icons/laptop-fault.png" width="50" alt="">
                <div class="d-flex">
                    <p class="card-text">Rotura de Equipos</p>
                    <svg _ngcontent-rbc-c16="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="material-icons">
                        <path _ngcontent-rbc-c16="" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </a>
</div>
