<div class="main col-10 mx-auto animated fadeInUp">
    <div class="col-10 header">
        <span>Equipos</span>
    </div>

    <div class="row col-10 container-body">
        <ng-container *ngFor="let menu of menus">
            <a href="javascript:void(0)"
              routerLink="{{menu.link}}"
              class="card-container">
                <div class="card-body body-custom">
                    <img [src]="menu.icon" width="50" alt="">
                    <div class="d-flex">
                        <p class="card-text">{{menu.name}}</p>
                    </div>
                </div>
            </a>
        </ng-container>
    </div>
</div>
