.toolbar-container {
    width: 100%;
    justify-content: space-between;
}

.nav-container {
    padding: 5px 50px;
}

.nav-item-custom {
    display: flex;
    align-items: center;
}

.badge-notification {
    position: absolute;
    left: 20px;
}

.notification-container {
    position: relative;
    padding: 0px 10px;
}