<div class="sidebar-header">
    <div class="filter-title">
        <mat-icon>filter_alt</mat-icon>
        <h3>Filtros</h3>
    </div>

    <ng-container *ngIf="!detailData.isMainHistoricTab && currentBreadcrumbs.length > 0 ||
                         detailData.isMainHistoricTab && historicBreadcrumbs.length > 0">
        <button mat-stroked-button (click)="restartFilters()" class="animated fadeInUp cancel-btn">
            <mat-icon>restart_alt</mat-icon>
            <span>Reinicio</span>
        </button>
    </ng-container>
</div>

<ng-container *ngIf="breadcrumbs.length > 0">
    <ol class="breadcrumb-container animated fadeInUp">
        <li class="breadcrumb-item" *ngFor="let filter of breadcrumbs">
          <span class="badge badge-pill badge-dark">{{filter}}</span>
        </li>
    </ol>
</ng-container>

<div *ngIf="detailData?.isMainHistoricTab">
    <form class="d-flex serial-form animated fadeInUp"
          [formGroup]="serialForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="searchBySerial(serialForm.value)">
        <div>
            <mat-form-field class="mat-form" appearance="outline">
                <mat-label>Serial</mat-label>
                <input type="text" matInput formControlName="serial" placeholder="Ingrese Serial">
                <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button> -->
                <!-- <mat-error *ngIf="validateControl('serial') && hasError('serial', 'maxlength')">
                    El valor debe ser de 10 dígitos
                </mat-error>
                <mat-error *ngIf="validateControl('serial') && hasError('serial', 'minlength')">
                    El valor debe ser de 10 dígitos
                </mat-error> -->
            </mat-form-field>
        </div>
        <div class="btn-search">
            <button mat-stroked-button [disabled]="!serialForm.valid" class="search-btn">Buscar</button>
        </div>
    </form>
</div>
