<main class="main-container">
    <div class="login-container">
        <app-action-result [result]="actionResult"></app-action-result>
        <!-- <ng-container *ngIf="loading$ | async; else loading_true">
            <div class="loading">
                <app-loading [isLoading]="true"
                             [message]="'Guardando los cambios, por favor espere...'">
                </app-loading>
            </div>
        </ng-container>

        <ng-template #loading_true>
            <app-action-result [result]="actionResult"></app-action-result>
        </ng-template> -->
    </div>
</main>
