/* You can add global styles to this file, and also import other style files */
/* :root {
  --background-primary: #fff;
  --background-secondary: #ecf0f3;

  --text-primary: #333;
  --text-secondary: #687782;

  --hover-primary: #f9fafb;
  --hover-shadow: rgb(174 190 205 / 45%);

  --shadow-primary: rgb(174 190 205 / 30%);
} */



body {

  background-color: var(--background-secondary);

  --background-primary: #fff;
  --background-secondary: #fbfdfe;
  --background-third: #ecf0f3;
  --background-fourth: #f9fafb;

  --text-primary: #333;
  --text-secondary: #687782;
  --text-third: #8e9ba4;
  --text-danger: #f44336;

  --hover-primary: #f9fafb;
  --hover-shadow: rgb(174 190 205 / 45%);

  --shadow-primary: rgb(174 190 205 / 30%);

  --border-primary: #ecf0f3;
  --border-secondary: #e5eaec;
  --border-third: var(--background-primary);

  --main-theme: #d60d2b;

  --scroll-thumb: #dfdfe8;
  --scroll-btn: #c1c1d3;

  --logo-background: url('src/assets/logos/rgis-logo-black.png');
}

body[data-theme='dark'] {

  --background-primary: #212e36;
  --background-secondary: #192229;
  --background-third: #121a21;
  --background-fourth: #28353e;

  --text-primary: #ecf0f3;
  --text-secondary: #b7c1c8;

  --hover-primary: #192229;
  --hover-shadow: rgb(0 0 0 / 45%);

  --shadow-primary: rgb(0 0 0 / 30%);

  --border-primary: #273b49;
  --border-secondary: #212e36;
  --border-third: var(--background-primary);

  --scroll-thumb: #566169;
  --scroll-btn: #3f474d;

  --logo-background: url('src/assets/logos/rgis-logo-white.png');
}

* {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: Hurgada;
  src: url("/src/assets/fonts/Amin_Hurgada.ttf") format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::placeholder {
  color: var(--text-secondary) !important;
  font-weight: 300;
  opacity: 1;
}

/* SCROLLS */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-btn);
}

.custom-shadow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 100%;
  background: rgba(146,161,176,.15);
  filter: blur(5px);
  transform: translateY(calc(100% - 0.5rem));
  z-index: -1;
}

p {
  margin-bottom: 0px !important;
}

label, h3, h2 {
  margin-bottom: 0px !important;
}

a {
  /* color: rgba(0,0,0,.87); */
  text-decoration: none !important;
}

.mat-expansion-panel-content>.mat-expansion-panel-body {
    padding: 0px;
}

.mat-expansion-panel-body {
    display: flex;
}

button:focus {
    outline: none;
}

.mat-tab-label {
    width: 50% !important;
}

.mat-table {
  width: 100%;
}

/* TABS */

.mat-tab-label {
    /* background: green;
    color: white; */
    font-size: 16px;
}


/* focus style */
.mat-snack-bar-container {
  padding: 0px !important;
  border-radius: 5px;
  width: 400px;
}

.snackBar-success {
    background-color: #3DB671 !important;
    background: url(../src/assets/icons/ckeck-white.png) 5% 45% no-repeat;
    background-size: 8%;
    padding-left: 13% !important;
}

.snackBar-error {
    background-color: #E05B5B !important;
    background: url(../src/assets/icons/ckeck-white.png) 5% 45% no-repeat;
    background-size: 8%;
    padding-left: 13% !important;
}

.mat-drawer {
    min-width: 280px;
}

.mat-form-field {
  width: 100%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74,74,74,.8);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-overlay-pane {
  margin-top: 5px;
}

.detail-tab-dialog .mat-tab-header {
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 100;
  background: #fff;
}

.title .mat-sort-header-container {
  justify-content: center;
}

/* ANIMACION */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,-50px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,-50px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* HISTORICS COUNT */
.icon-container span {
  top: -7px !important;
}

/* MOUSE POINTER */
.mouse-pointer {
  cursor: pointer;
}

/* CHECKBOX BACKGROUND COLOR */
.mat-checkbox .mat-checkbox-frame {
  border-color: rgba(0,0,0,.12);
  background-color: #FFF !important;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #D60D2B !important;

}

/* BACKDROP */
.cdk-overlay-backdrop {
  backdrop-filter: blur(2px);
}

/* BUTTON */
.primary-btn {
  border: 1px solid #d60d2b !important;
  background-color: transparent !important;
  color: #d60d2b !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

.cancel-btn {
  border: 1px solid #7a7a7a !important;
  background-color: transparent !important;
  color: #7a7a7a !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}



/* Menu */
.mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-content a {
  font-family: 'Poppins', sans-serif;
}
.mat-menu-content a:hover {
  background-color: var(--color-fourth) !important;
}
.mat-menu-item {
  height: 32px !important;
  line-height: 40px !important;
}
.mat-menu-panel {
  min-height: 50px !important;
}
.mat-menu-panel {
  padding: 1rem;
  background-color: var(--background-primary) !important;
  color: var(--text-primary) !important;
}

.mat-menu-content a {
  display: flex;
  align-items: center;
}


/* --------- Summary Detail Chart ---------- */

#detail-container .chart-dialog-container .card-container,
#filter-container .chart-dialog-container .card-container {
  display: flex;
  flex-basis: 50%;
  position: relative;
}

#detail-container .chart-dialog-container .card-container .chart,
#filter-container .chart-dialog-container .card-container .chart {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 320px;
  margin-top: 20px;
  flex-basis: 100%;
}

#detail-container .chart-dialog-container .card-container .card,
#filter-container .chart-dialog-container .card-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  padding: 20px;
  background-color: var(--background-secondary);
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  border: none;
}

#detail-container .chart-dialog-container .card-container:nth-child(odd) {
  max-width: 410px;
  margin-right: 20px;
}

#filter-container .chart-dialog-container .card-container:nth-child(even) {
  margin-left: 20px;
}

#detail-container .total-dialog-container .detail,
#filter-container .total-dialog-container .detail {
  font-size: 18px;
  /* color: #333; */
  color: var(--text-primary);
  border-bottom: 1px solid #7a7a7a;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

#detail-container .total-dialog-container .detail span,
#filter-container .total-dialog-container .detail span {
  margin-right: 20px;
}

/* ---------------------------- ANGULAR MATERIAL  ------------------------------------------ */

/* MAT DRAWER */
.mat-drawer,
.mat-drawer-container {
  background-color: transparent !important;
}


.mat-drawer-side,
.mat-drawer-inner-container,
.mat-drawer-content {
  background-color: var(--background-primary) !important;
}

/* MAT EXPANSION PANEL */

.mat-expansion-panel {
  background-color: var(--background-primary) !important;
 }

 .mat-expansion-panel-header-title {
   color: var(--text-primary) !important;
 }

 .mat-expansion-indicator::after {
   color: var(--text-secondary) !important;
 }

.mat-expansion-panel {
  background-color: var(--background-secondary) !important;
}

.mat-expansion-panel-header-title {
  color: var(--text-secondary) !important;
}

nav.menu .sidebar-content .mat-accordion .mat-expansion-panel {
  background-color: transparent !important;
  box-shadow: none !important;
}


/* MAT FORM */

.mat-form-field-outline-start,
.mat-form-field-outline-gap,
.mat-form-field-outline-end {
  background-color: var(--background-fourth) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--border-primary) !important;
}

.mat-form-field-infix {
  padding: 0.4rem 0 0.7rem 0 !important;
}

.mat-select-arrow,
.mat-icon-button {
  color: var(--text-secondary) !important;
}

.mat-select-value,
.mat-input-element {
  color: var(--text-primary) !important;
}

.mat-select-placeholder {
  color: var(--text-secondary) !important;
  font-weight: 300;
}

.mat-form-field-underline {
  background-color: var(--border-secondary) !important;
}

.mat-form-field-label {
  color: var(--text-third) !important;
}

.mat-form-field.mat-focused {
  color: var(--color-primary) !important;
}

.mat-select-panel {
  background-color: var(--background-primary) !important;
}

.mat-option {
  color: var(--text-primary) !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--main-theme) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--text-danger) !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: var(--text-danger) !important;
}

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: var(--text-danger) !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--main-theme) !important;
}

.mat-button-disabled {
  background-color: rgb(0 0 0 / 20%) !important;
  color: rgb(108 117 125 / 80%) !important;
}


/* MAT TABLE */

.mat-table,
.mat-paginator {
  background: var(--background-secondary) !important;
  color: var(--text-primary) !important;
}

.mat-header-cell {
  color: var(--text-primary) !important;
  font-weight: 500 !important;
}

td.mat-cell {
  color: var(--text-secondary);
}

.mat-header-cell,
.mat-cell {
  border-bottom: 1px solid var(--border-primary) !important;
}

.mat-paginator-navigation-first.mat-icon-button,
.mat-paginator-navigation-previous.mat-icon-button,
.mat-paginator-navigation-next.mat-icon-button,
.mat-paginator-navigation-last.mat-icon-button {
  color: var(--text-primary) !important;
}

.mat-paginator-page-size-select div .mat-select div .mat-select-arrow,
.mat-paginator-page-size-select div .mat-select div .mat-select-value-text {
  color: var(--text-primary) !important;
}


/* MAT DATEPICKER */

.mat-datepicker-content {
  background-color: var(--background-primary) !important;
}

.mat-calendar-table-header tr th,
.mat-calendar-body-label,
.mat-calendar-previous-button,
.mat-calendar-next-button,
.mat-calendar-period-button {
  color: var(--text-primary) !important;
}

.mat-calendar-arrow {
  border-top-color: var(--text-primary) !important;
}

.mat-calendar-body-cell-content {
  color: var(--text-secondary) !important;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px var(--background-secondary) !important;
}

app-timepicker form div span {
  color: var(--text-secondary) !important;
}

span i {
  color: var(--text-secondary) !important;
}

.mat-expansion-indicator::after {
  color: var(--text-secondary) !important;
}


/* MAT DIALOG */

/* .mat-dialog-container {
  background-color: var(--background-primary) !important;
} */
.mat-dialog-container {
  background-color: var(--background-secondary) !important;
}

.card,
.card-header,
.mat-tab-group {
  background-color: var(--background-secondary) !important;
}

.mat-tab-label-content {
  color: var(--text-primary);
}

.loading {
  background-color: var(--background-secondary) !important;
  border-radius: 4px;
}

.loading-content {
  color: var(--text-primary) !important;
}

.segment-key {
  color: var(--color-json-key) !important;
}

app-sidebar .menu mat-accordion mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 !important;
}


/* MAT TOOLTIP */
.mat-tooltip {
background-color: var(--background-primary) !important;
color: var(--text-secondary) !important;
}

/* MAT TAB */
.mat-dialog-content {
overflow-x: hidden !important;
}

/* MAT SNACKBAR */
.mat-snack-bar-container {
/* padding: 0px !important; */
background-color: var(--background-secondary) !important;
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
background-color: #00b0eb !important;
}

.mat-pseudo-checkbox {
border-color: #00b0eb !important;
}
