.body-content {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
}

.mat-tab-label {
    width: 50% !important;
}

.header-cotainer {
    padding: 20px 0px;
    justify-content: space-between;
}

.serial-form div:last-child {
    height: 46.5px;
}

.serial-form div:last-child button {
    height: 100%;
}

.row-hold {
    background-color: #83BAC5;
}

.row-fault {
    background-color: #FA6760;
}

.historic-inputs {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

div.inputs {
    display: flex;
}

div.inputs div {
    margin-left: 20px;
    height: 46.5px;
}

div.inputs div button {
    height: 100%;
}

.historic-inputs div:last-child {
    display: flex;
    align-items: center;
}

.mat-form-field {
    margin-right: 20px;
}

.tab-historic {
    min-height: 500px;
}

.mr-btn {
    margin-right: 20px;
}

.btn-container button {
    height: 94%;
}

.btn-container button span {
    line-height: 0px;
    padding-left: 5px;
}
