h2 {
  margin-bottom: 0px;
  color: var(--text-primary);
  font-weight: 500;
  border-bottom: 1px solid var(--border-secondary);
  padding-bottom: 1rem;
  font-family: 'Poppins';
  font-size: 25px;
  width: 100%;
}

/* BODY HEADER*/
.body {
  width: 100%;
  padding: 20px;
}

.body-header {
  display: flex;
  align-items: center;
  min-height: 50px;
  font-size: 20px;
  /* border-bottom: 1px solid var(--text-secondary); */
  color: var(--text-primary);
}

.body-header h3 {
  margin-bottom: 0;
}


/* HEADER - MENU DESPLEGABLE */

.mat-menu-option span {
  padding-left: 10px;
}

.body-header div mat-menu button:hover {
  fill: #217346;
}

.body-content-empty {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDEzIDMgQyA3LjQ4ODk5NzEgMyAzIDcuNDg4OTk3MSAzIDEzIEMgMyAxOC41MTEwMDMgNy40ODg5OTcxIDIzIDEzIDIzIEMgMTUuMzk2NTA4IDIzIDE3LjU5NzM4NSAyMi4xNDg5ODYgMTkuMzIyMjY2IDIwLjczNjMyOCBMIDI1LjI5Mjk2OSAyNi43MDcwMzEgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDI2LjcwNzAzMSAyNS4yOTI5NjkgTCAyMC43MzYzMjggMTkuMzIyMjY2IEMgMjIuMTQ4OTg2IDE3LjU5NzM4NSAyMyAxNS4zOTY1MDggMjMgMTMgQyAyMyA3LjQ4ODk5NzEgMTguNTExMDAzIDMgMTMgMyB6IE0gMTMgNSBDIDE3LjQzMDEyMyA1IDIxIDguNTY5ODc3NCAyMSAxMyBDIDIxIDE3LjQzMDEyMyAxNy40MzAxMjMgMjEgMTMgMjEgQyA4LjU2OTg3NzQgMjEgNSAxNy40MzAxMjMgNSAxMyBDIDUgOC41Njk4Nzc0IDguNTY5ODc3NCA1IDEzIDUgeiI+PC9wYXRoPjwvc3ZnPg==') 0% 50% no-repeat;
  background-size: 25px;
  display: flex;
  padding-left: 30px;
  margin-top: 30px;
}
