.title-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.title-container button {
  box-shadow: none;
  background-color: #F9F9F9;
}

.fault-alert {
  border: solid 1px #da3633;
  display: flex;
  padding: 10px;
  color: #da3633;
  border-radius: 4px;
  margin: 10px 20px;
}

.mat-dialog-content {
  max-height: 75vh;
}

.mat-dialog-actions {
  padding: 15px 0px;
  justify-content: space-between;
}

.loading {
  min-height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-title {
  padding-left: 10px;
  margin-bottom: 0px
}

.hold-btn {
  background-color: #17a2bb;
  color: #fff;
}

.actions-container-custom {
  justify-content: flex-end;
}
