.title-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.title-container button {
  box-shadow: none;
  background-color: #F9F9F9;
}

.mat-dialog-content {
  max-height: 75vh;
}

.mat-dialog-actions {
  padding: 15px 0px;
  justify-content: space-between;
}

.loading {
  min-height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-title {
  padding-left: 10px;
  margin-bottom: 0px
}
