<div class="body-content">
    <div mat-dialog-content>
        <mat-tab-group (selectedTabChange)="getHistoric($event)">
            <mat-tab label="Detalle">
              <app-detail-current [equipment]="data.equipment"></app-detail-current>
            </mat-tab>
            <mat-tab label="Histórico">
                <app-detail-historic></app-detail-historic>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div mat-dialog-actions>
        <ng-container *ngIf="isDetailTab">
            <!-- <button mat-raised-button
                    color="primary"
                    (click)="editDialog(data.equipment)"
                    class="{{(data.historicInfo.isHistoricTab) ? 'hidden-custom' : ''}}">
                Editar
            </button> -->
        </ng-container>
        <ng-container *ngIf="isHistoricTab">
            <!-- <button mat-raised-button color="primary" (click)="drawer.toggle()">Registros históricos</button> -->
        </ng-container>

        <button mat-stroked-button (click)="close()">Cancelar</button>
    </div>
</div>
