<ng-container *ngIf="!isLoading; else loading_module">
    <ng-container *ngIf="isEditModule">
        <div class="title-container">
            <ng-container *ngIf="!isFaultCreate">
                <button mat-mini-fab (click)="back()">
                    <mat-icon class="material-icons-outlined">
                        arrow_back
                    </mat-icon>
                </button>
            </ng-container>

            <h1 mat-dialog-title class="detail-title">
                {{titleEditOrFault}}
            </h1>
        </div>

        <ng-container *ngIf="showFaultAlert">
            <div class="fault-alert animated fadeInUp">
                Es necesario completar los datos de la avería para terminar el proceso
            </div>
        </ng-container>
    </ng-container>

    <div mat-dialog-content class="detail-tab-dialog">
        <ng-container *ngIf="!isEditModule; else edit_module">
            <mat-tab-group (selectedTabChange)="getHistoric($event)">
                <mat-tab label="Detalle">
                    <app-detail-current [detailData]="detailData"></app-detail-current>
                </mat-tab>
                <mat-tab label="Histórico">
                    <app-detail-historic [detailData]="detailData"></app-detail-historic>
                </mat-tab>
            </mat-tab-group>
        </ng-container>

        <ng-template #edit_module>
            <ng-container *ngIf="!isFaultCreate; else faultCreate">
                <app-edit-item [detailData]="detailData"></app-edit-item>
            </ng-container>

            <ng-template #faultCreate>
                <app-fault-create [equipment]="equipmentCurrent"></app-fault-create>
            </ng-template>
        </ng-template>
    </div>

    <div mat-dialog-actions>
        <ng-container *ngIf="isDetailTab && !isEditModule">
            <button mat-raised-button
                    color="primary"
                    [disabled]="isEditBtnDisabled"
                    (click)="editDialog()">
                    <!-- class="{{(data.historicInfo.isHistoricTab) ? 'hidden-custom' : ''}}"> -->
                Editar
            </button>
        </ng-container>

        <ng-container *ngIf="isHistoricTab">
            <button mat-raised-button color="primary" (click)="toggleSidenav()">
                {{sidenavMessage}}
            </button>
        </ng-container>

        <ng-container *ngIf="isEditModule">
            <ng-container *ngIf="!isFaultCreate; else faultCreateBtn">
                <div>
                    <button mat-raised-button
                            color="primary"
                            [disabled]="!isEditSaveChangesDisabled"
                            (click)="saveChanges()">
                        Guardar cambios
                    </button>

                    <button mat-raised-button
                            color="primary"
                            (click)="holdHandler()">
                        {{holdButtonName}}
                    </button>
                </div>
            </ng-container>

            <ng-template #faultCreateBtn>
                <button mat-raised-button
                        (click)="saveFault()"
                        color="primary"
                        [disabled]="!isFaultButtonDisabled">
                    Guardar
                </button>
            </ng-template>
        </ng-container>

        <button mat-stroked-button
                (click)="close()">
            Cancelar
        </button>
    </div>
</ng-container>

<ng-template #loading_module>
    <div class="loading">
        <app-loading [isLoading]="true" [message]="'Guardando los cambios, espere por favor...'"></app-loading>
    </div>
</ng-template>

